body{
 /* height: 2000px; */
 margin: 0;
}

.hd{
 height: auto;
}

.hd_1{
 width: 50%;
 height:100px;
 margin: auto;
 background-image: url(/image/NodeComm.png);
 background-repeat: no-repeat;
 background-size: contain;
}

.hd_2{
 height: auto;
}

.hd_2 div{
 display: flex;
 justify-content: space-around;
}

.main{
 height: auto;
 /* background-color: green; */
}
/* .main div{
 height: 500px;
} */

.ma_1{
 position: relative;
 height: 500px; 
 /* background-image: url(/image/img1.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 opacity: 0.3;
 position: relative; */
}

.ma_1 .background {
 position: absolute; /* 背景要素を配置 */
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: url(/image/img1.jpg); /* 背景画像を設定 */
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.3; /* 背景画像に透明度を設定 */
 z-index: 0; /* 他の要素の背面に配置 */
}

.ma_1_wrap {
 /* position: relative; */
 width: 600px;
 z-index: 1;
 opacity: 1;
 position:absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.ma_h2 {
 text-align: center;
}

.ma_1 p{
 font-size: 25px;
}

.ma_2 {
 position: relative;
 height: 500px; 
}

.ma_2 .background{
 background-image: url(/image/img4.png);
 position: absolute; /* 背景要素を配置 */
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 /* background-image: url(/image/img1.jpg); 背景画像を設定 */
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.3; /* 背景画像に透明度を設定 */
 z-index: 0; /* 他の要素の背面に配置 */
}

.ma_2_wrap {
 /* position: relative; */
 width: 600px;
 z-index: 1;
 opacity: 1;
 position:absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.ma_2 p{
 font-size: 25px;
}

.ma_3 {
 position: relative;
 height: 750px; 
}

.ma_3 .background{
 background-image: url(/image/img5.png);
 position: absolute; /* 背景要素を配置 */
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 /* background-image: url(/image/img1.jpg); 背景画像を設定 */
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.3; /* 背景画像に透明度を設定 */
 z-index: 0; /* 他の要素の背面に配置 */
}

.ma_3_wrap {
 /* position: relative; */
 width: 600px;
 z-index: 1;
 opacity: 1;
 position:absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.ma_3 p{
 font-size: 25px;
}

.ma_4 {
 position: relative;
 height: 750px; 
}

.ma_4 .background{
 background-image: url(/image/img6.png);
 position: absolute; /* 背景要素を配置 */
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 /* background-image: url(/image/img1.jpg); 背景画像を設定 */
 background-size: cover;
 background-repeat: no-repeat;
 opacity: 0.3; /* 背景画像に透明度を設定 */
 z-index: 0; /* 他の要素の背面に配置 */
}

.ma_4_wrap {
 /* position: relative; */
 width: 600px;
 z-index: 1;
 opacity: 1;
 position:absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.ma_4 p{
 font-size: 25px;
}

.ft{
 height: auto;
}

.ft > div{
 height: 200px;
}